[Unit]
Description=NDI to JACK Converter
After=network-online.target jackd.service

[Service]
User=root
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
CPUSchedulingPolicy=rr
CPUSchedulingPriority=80
ExecStart=/opt/ndi2jack/bin/ndi2jack
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
